# API Keys
AETRAXA_THERMAL_TIPS_KEY=
AETRAXA_THERMAL_CHAT_KEY=
AETRAXA_AQI_TIPS_KEY=
AETRAXA_AQI_CHAT_KEY=
VITE_SUPABASE_URL=https://uxqilfhahffedrikoxqd.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_tqjmvxdtesE1pxK2g5QnLw_TjcIxWnj
